[Unit]
Description=kmonad keyboard: %I
After=network.target

[Service]
# Restart=always
# RestartSec=3
ExecStart=%h/.local/bin/macro_keyboard %I 
Nice=-20

[Install]
WantedBy=default.target